{% extends 'base_layout.html' %}

{% block contenido %}
<!-- Banner -->
<section id="banner">
    <h2>Bienvenido {{nombre}}</h2>
    <p>Este es el proveedor de servicios Restful de SaludTech.</p>
    <ul class="actions special">
        <li><a href="/categoria" class="button">Listar Categorias</a></li>
        <li><a href="/servicio" class="button">Listar Servicios</a></li>
        <li><a href="/tarifa" class="button">Lista de tarifas</a></li>
        <li><a href="/usuario" class="button">Lista de usuarios</a></li>
    </ul>
</section>
{% endblock %}			
			

	